{% extends "main.html" %}
{% block stuff %}
    <li><a href="/">Home</a></li>
    <li><a href="/FAQ">FAQs</a></li>
    <li><a class="active" href="/events">Events</a></li>
    <li><a href="/ourstory">Our Story</a></li>
    <li><a href="/weddingparty">Wedding Party</a></li>
    <li><a href="/travel">Travel</a></li>
    <li><a href="/registry">Registry</a></li>
{% endblock %}
{% block maincontent %}
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<h2>Calendar of Events</h2>
<div class="column-left">
<div class="numberCircle" style = "float:left">1</div>

    <h3>Ceremony & Reception</h3>
    Time: Friday, June 24 @ 6 PM<br>
    The Langham Hotel
    <br><br><hr><br>
    <div class="numberCircle" style = "float:left">2</div>
    <h3>Farewell Brunch</h3>
    Time: Saturday, June 25 @ 10 AM - 12 PM<br>
    The Langham Hotel
</div>


<div class="column-right">

<div id="map_div" style="width: 270px; height: 335px"></div>
</div>


{% endblock %}