{% extends "main.html" %}
{% block stuff %}
    <li><a href="/">Home</a></li>
    <li><a class="active" href="/FAQ">FAQs</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/ourstory">Our Story</a></li>
    <li><a href="/weddingparty">Wedding Party</a></li>
    <li><a href="/travel">Travel</a></li>
    <li><a href="/registry">Registry</a></li>
{% endblock %}
{% block maincontent %}
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<h2>Frequently Asked Questions</h2>

<b>When is the wedding?</b> <br>
June 24th, 2016 at 6 PM. Hopefully going all night long.
<br><br>

<b>Will there be a morning after brunch?</b> <br>
Yes! Its at the Langham Hotel (same venue as the wedding) from 10 AM - 12 PM the following morning.
<br><br>

<b>How do I get to the venue(s)?</b> <br>
The wedding is at the <a href="http://www.langhamhotels.com/en/the-langham/chicago/">Langham Hotel</a> in Chicago, IL. If you are familiar with Chicago, the Langham is located in the Loop near Trump Towers (but very, very unrelated). If you are not familiar with Chicago, strongly recommend taking an Uber. See <a href="/travel">travel</a> for details.
<br><br>

<b>What time should I arrive?</b> <br>
BEFORE 6 PM. Its hypocritical of us to advocate being early, but yeah...be early.
<br><br>

<b>Where should I park?</b> <br>
There is validated parking at the hotel and there is some street parking/local parking garages. If you're staying overnight, the latter will be cheaper.
<br><br>

<b>What should I wear? Is there a dress code?</b> <br>
We are shooting for formal/black tie/as glamorous as you can be. Wear fabulous jewelry, fabulous shoes, fabulous clothes, and generally look fabulous. It will make the wedding pictures that much more fun.
<br><br>

<b>Are kids welcome?</b> <br>
Unless specifically invited, no. Unattended children will be given espresso and a puppy.
<br><br>

<b>Can I bring a date?</b> <br>
Short answer, no. Long answer, if you have a significant other than I neglected to invite please ask. If you hate wedding season and want to bring someone to share your misery, still no. But don’t worry, our friends are very fun!
<br><br>

<b>Does your wedding have a theme? </b> <br>
Erm. No. Should it?
<br><br>

<b>I am coming from out of town. Where should I stay?</b> <br>
The <a href="http://www.langhamhotels.com/en/the-langham/chicago/">Langham Hotel</a> (where the wedding is being held). We have reserved a block of rooms and really, really, really want everyone to be in the same place. If it seems too pricey, please let us know and we will help you make arrangements. More information on travel located <a href="/travel">here</a>.
<br><br>

<b>When is the RSVP deadline?</b> <br>
May 24th, 2016. Don’t make us hunt you down. Please return your RSVP card!
<br><br>

<b>What should/could I do between the ceremony and the reception?</b> <br>
Both the ceremony and reception are being held in the same place (like literally within 30 feet of each other). Cocktails will be served. Please don’t get drunk and make embarrassing toasts.
<br><br>

<b>Will food be served?</b> <br>
Yes. We’re not animals.
<br><br>

<b>What kind of food will be served?</b> <br>
Your basic 'white people food', according to Rahul. Meat, veg, cake, and copious amounts of wine.
<br><br>

<b>What if I have a dietary restriction?</b> <br>
Please let us know by the RSVP deadline and we will try (and most likely succeed) to accommodate it with minimal teasing.
<br><br>

<b>What is the signature cocktail? </b> <br>
Long Island Iced Tea. Because we’re classy.
<br><br>

<b>Will there be dancing?</b> <br>
There had better be.
<br><br>

<b>Will there be any activities happening that I need to know about?</b> <br>
Not as yet. We aren't having an engagement party, bridal shower, groom shower, any other shower because frankly we don't feel like planning them.
<br><br>

<b>What time will the reception end?</b> <br>
2 AM, in theory. Feel free to leave early if you’re lame.
<br><br>

<b>Can I take pictures? </b> <br>
No. The nice way of putting this is that we are having an ‘unplugged wedding’. The not nice way of putting this is that we are trying to avoid <a href="http://www.buzzfeed.com/terripous/no-pictures-no-problem#.stxw9Ob9b">this</a>.
<br><br>

<b>Is there a gifts registry? </b> <br>
There should be! Check <a href="/registry">here</a>.
<br><br>

<b>How did you guys meet? </b> <br>
It’s a really long story. Check it out <a href="/ourstory">here</a>.
<br><br>

<b>Will last names be changing after the wedding? </b> <br>
Yes. Jane and Rahul Mehta 4eva.
<br><br>

<b>Who made this awesome website? </b> <br>
That would be Jane.
<br><br>

<b>Will you make me a website? </b> <br>
Insert hysterical laughter here. No.
<br><br>

<b>Who is in the wedding party?  </b> <br>
Please check out the bios <a href="/weddingparty">here</a>.
<br><br>
<b>I have a question not answered here; how do I contact you? </b> <br>
You can shoot us an email <a href="mailto:mehtatoourmadness@gmail.com?Subject=Hello%20again" target="_top">here</a>. Please, please, please ask us if you have any questions/comments/concerns!
<br><br>
xoxoxoxoxoxoxoxoxoxo, <br>
J & R
{% endblock %}