{% extends "main.html" %}
{% block stuff %}
    <li><a href="/">Home</a></li>
    <li><a href="/FAQ">FAQs</a></li>
    <li><a href="/events">Events</a></li>
    <li><a class="active" href="/ourstory">Our Story</a></li>
    <li><a href="/weddingparty">Wedding Party</a></li>
    <li><a href="/travel">Travel</a></li>
    <li><a href="/registry">Registry</a></li>
{% endblock %}
{% block maincontent %}
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<h2>The Story of Rahul &Jane</h2>
<center><i>I didn't promise you a rose garden, <br>along with the sunshine there's gonna be some rain sometimes.</i></center>

<br>
<br>
Jane and Rahul met on October 17, 2014. They were ‘set up’ by a dating app (Coffee Meets Bagel, not Tinder…they’re classy) and arranged to meet at Maria’s Packaged Goods in Bridgeport. Both were thirty minutes late. As a seasoned cynic, Jane did not believe in ‘love at first sight’, but one sighting of a Rahul later and she pretty much changed her mind. All in all, the date went well.
<br><br>
They continued dating for about a month. In fairness, Jane (a notorious commitment-phobe) tried to extract herself from the relationship, as well as her increasingly warm feelings, a solid three times but Rahul’s patience prevailed and the two made it ‘official’. As the month unfolded, however, Rahul became increasingly perplexed as to why such an impressive (and cute!) woman wouldn’t end up leaving him and making him feel all sorts of unpleasant emotions. Plus, she was a proven flight risk. He ended their relationship…but also felt it only fair to let her know that he loved her. To his surprise, she (rather angrily) confessed that she shared his feelings.
<br><br>
The following weekend, Jane went home for Thanksgiving and had a good long think. She decided, and informed her mother, that (a) she planned to play the long game and (b) she was going to marry this man one day. Presumably, her mother knew better than to question her determination at this point. She returned to Chicago and made it her business to befriend and spend time with her beloved Rahul. Rahul thought she was no longer romantically interested in him, as he expected and feared, and a game of romantic ‘chicken’ began.
<br><br>
Their friendship continued without incident until early January, though they did correspond daily and spent a considerable amount of time together. Rahul had been planning a trip to visit friends in LA and asked Jane to join him. Despite fervent warnings from all her friends, who frankly thought Rahul was a jerk, she flew to California to meet him. If their relationship were a movie, which it really should be, this would be the epiphany montage. Probably set to a cheesy song, definitely featuring a lot of smiling and meaningful looks.
<br><br>
In LA, they spent every waking moment together. They went dancing, talked endlessly, and Rahul abandoned Jane in Griffith Park (another story, but she definitely deserved it and he did come back). Jane also learned through (ahem) careful detective work that Rahul was dating someone who wasn’t her. Some women might see this as a moment to admit defeat, but this information only strengthened her resolve. On an impromptu road trip to San Diego (Jane wanted to see the komodo dragons!), Rahul realized that he had not successfully stopped loving Jane. In fact, he loved her even more. Of course he didn’t say anything…
<br><br>
…so of course Jane did! And it didn’t go especially well. Rahul, still certain that Jane couldn’t possibly love him as much as she claimed, told her that while he did love her, he couldn’t date her. A solid month of drama followed, during which while the two rarely spent a day without seeing each other (and spent most nights dancing the night away at Berlin) they maintained that they were only friends. At the end of January, Jane told Rahul he had to choose one girl to date. He told her he needed time to consider. He then peaced out for five flipping days.
<br><br>
And when he came back, he didn’t choose her. Jane was not amused and told him just about where he could stick his lame excuses. She resolved to move on. A few days later, Rahul told her he missed her. While she once again told him where to stick it, she conceded that she missed him as well. A few days and as many parties later on February 17, 2015, Rahul told her to come over as he had a question to ask her. He hemmed and hawed for a bit, but when he learned that Jane was going out on a date with someone who wasn’t him, he steeled himself and asked her to be his girlfriend again. Despite this being the moment Jane had waited three months to see, she wasn’t exactly pleased. In fact, she told him to fuck off. So he asked her to marry him instead. And at that point, Jane thought it would be rather churlish to refuse.
<br>


{% endblock %}