{% extends "main.html" %}
{% block stuff %}
    <li><a href="/">Home</a></li>
    <li><a href="/FAQ">FAQs</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/ourstory">Our Story</a></li>
    <li><a href="/weddingparty">Wedding Party</a></li>
    <li><a href="/travel">Travel</a></li>
    <li><a class="active" href="/registry">Registry</a></li>
{% endblock %}
{% block maincontent %}
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<h2>Wedding Registry</h2>
Donate to our 'travel fund'. We LOVE traveling together - we have already been to DC, NYC, LA, London, Paris, Barcelona, and Nice and want to see many more places! If you want to contribute to our adventures, that would be fabulous too...
<br><br>Check it out <a href="http://www.honeyfund.com/Registry?id=527760&rid=778770&t=1">HERE</a>.
<br><br>
Thank you from us, thank you from our vicious, power-hungry cats!
<br><br>
<img src="/images/cat1.jpg" width = "49.6%" />
<img src="/images/cat2.jpg" width = "49.6%" />
{% endblock %}