{% extends "main.html" %}

{% block stuff %}
    <li><a href="/FAQ">Home</a></li>
    <li><a href="/FAQ">FAQs</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/ourstory">Our Story</a></li>
    <li><a href="/weddingparty">Wedding Party</a></li>
    <li><a class="active" href="/">Travel</a></li>
    <li><a href="/registry">Registry</a></li>
{% endblock %}
{% block maincontent %}
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

<h2>Accommodations</h2>
<hr>
<h4>The Langham Hotel</h4>
<center>330 N Wabash Ave, Chicago, IL 60611</center><br>
<center>(312) 923-9988</center><br>
<center><b>Please mention the Makin/Mehta wedding for group rate.</b></center><br>
<hr>
<h2>Travel and Transportation</h2>
<hr>
<h4>Airport</h4>
<center>The nearest airports are Chicago O'Hare and Chicago Midway.</center><br>
<center>From O'Hare, The Langham is reachable by taking the Blue Line to Clark/Lake or by taxi.</center><br>
<center>From Midway, The Langham is reachable by taking the Orange Line to State/Lake or by taxi.</center><br>


<hr>
{% endblock %}