{% extends "main.html" %}
{% block stuff %}
    <li><a href="/">Home</a></li>
    <li><a href="/FAQ">FAQs</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/ourstory">Our Story</a></li>
    <li><a class="active" href="/weddingparty">Wedding Party</a></li>
    <li><a href="/travel">Travel</a></li>
    <li><a href="/registry">Registry</a></li>
{% endblock %}
{% block maincontent %}
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<h2>Who's Who in this Do</h2>
<h4>Bridesmaids</h4>
<hr><br>
<div class="photo-left">
    <img src="/images/sarah.jpg" width = "100%" />
    </div>
<div class="bio-right">
<br><b>Sarah Nielsen</b><br><br>
Jane met Sarah during her junior and Sarah’s sophomore year of high school in an introductory creative writing class. Despite some initial animosity (boy drama…) after the semester was over, they had cemented their friendship by irritating the living daylights out of their teacher and have stayed buddies ever since. Sarah is considerably more excited about the wedding planning process than Jane is and has proved instrumental at moving things along. Sarah is still a fabulous writer and is currently living in Buenos Aires, Argentina working in international business development for a Latin American advisory firm.
</div>
<div class="bio-left">
<br><b>Gabby Acquaviva</b><br><br>
Gabby and Jane became friends through the Darien High Theatre program. After taking Drama together, Jane adopted Gabby as one of her ‘theatre babies’. They worked on several productions together (including Midsummer Night’s Dream) and proved stalwart chums in the cutthroat world of high school drama (on and off stage). Since DHS, Gabby has been involved in the NYC theatre scene, working on productions like Queen of the Night and Then She Fell. There is a video somewhere of Jane and Gabby doing a karaoke version of Macy Gray’s ‘I Try’ in NYC, but hopefully no one will ever, ever see it.
</div>
<div class="photo-right">
<img src="/images/gabby.jpg" width = "100%" />
    </div>
<div class="photo-left">
    <img src="/images/quinn.jpg" width = "100%" />
    </div>
<div class="bio-right">
<br><b>Quinn Colter</b><br>
Quinn and Jane were co-TAs in the UChicago Core Biology program – basically bio for dummies. Though it has been described as ‘the most unlikely friendship’, the long hours spent grading poorly written papers together made them realize they actually had quite a lot in common. Or at least they really liked drinking tea and gossiping together. Quinn stayed in the science writing biz and is currently working for Nature magazine in NYC. The picture featured here was taken by Jane and is of Quinn standing on Botany Pond at the University of Chicago after it froze. Chicago has especially brutal winters and Jane figured she was strong enough to pull Quinn out if things went south.
</div>
<div class="bio-left">
<br><b>Rachel Killackey</b><br>
Jane met Rachel on their very first day of the Computer Science Masters Program. Almost two years later, they spend so much time together that their fellow students have thought they are dating more than once. They aren’t. A sign of true friendship, Rachel continues to ride in Jane’s car for coffee breaks despite all the times Jane has nearly killed her and Jane never expects Rachel to be on time. They have collaborated on numerous projects for class, though Jane credits their good working relationship to the fact that studying usually devolves into sipping gin and tonics, watching horror movies, and playing with makeup. Rachel just graduated with her MS in Computer Science and is working at a Chicago start-up.
</div>
<div class="photo-right">
<img src="/images/rach.jpg" width = "100%" />
    </div>


<h4>Groomsmen</h4>
<hr>
<div class="photo-left">
    <img src="/images/manu.jpg" width = "100%" />
    </div>
<div class="bio-right">
<br><b>Manu Mehta</b><br>
Manu is Rahul's little brother and his excuse for watching cartoons and playing video games.  When Manu is not in highschol or trying to take over the world by becoming a chess master, he is often telling jokes and silly puns.  Since meeting Jane, Manu has grown a few inches, which irks Jane as she will become the short one.  Fortunately he cheers her up by talking to her more than his brother.
</div>
<div class="bio-left">
<br><b>George Beck</b><br>
George and Rahul have been friends since freshman year of highschool where they played calculator games instead of paying attention in Math Class. Their friendship often finds them: exchanging random science articles, making innane jokes, being generally weird, George anticipating Rahul's late arrival, and Rahul's plus one at many concerts and forays into the city of Chicago (before Rahul met Jane).  The best description of their friendship is 30 minutes of silence with one minute of very deep and intellectual exchange. 
</div>
<div class="photo-right">
<img src="/images/george.jpg" width = "100%" />
    </div>
<h4>Officiant</h4>
<hr>
<div class="photo-left">
    <img src="/images/mo.jpg" width = "100%" />
    </div>
<div class="bio-right">
<br><b>Mohammad Naveed </b><br>
Mo and Jane like to introduce themselves as brother and sister, which is indicative not only of their closeness but also of their mutual love of teasing people. They have been friends for way too long, almost seven years, having met on the first day of college. Since then, Jane and Mo spend most of their time together either casting aspersions on each other’s appearance/parentage/life choices or watching bad British television. Mo is officiating Rahul and Jane’s wedding because he likes both of them (in theory) and because it gave him the opportunity to start his own church, something he has long aspired to do.
</div>







{% endblock %}